################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backtalk/.vs/Backtalk.slnx/FileContentIndex/
/Backtalk/.vs/Backtalk.slnx/DesignTimeBuild

