.page[b-5n1wztl37j] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-5n1wztl37j] {
    flex: 1;
}

.navmenu-container[b-5n1wztl37j] {
    width: 100%;
    height: 10vh;
    background-color: transparent;
}