.navmenu {
    padding: 10px;
    border-width: 2px;
    border-color: lightgrey;
    color: var(--bt-txt-color);
    font-family: var(--bt-txt-ff);
    gap: 50px;
}

.navmenu-brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navmenu-logo-image {
    width: 250px;
}
.navmenu-logo-image:hover {
    cursor: pointer;
}

.navmenu-navlinks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 25px;
    padding-right: 55px;
}
.navmenu.navlinks-container .col-4 {
    background-color: yellow;
}
.navmenu-navlink {
    appearance: none;
    color: var(--bt-navlink-color);
    text-decoration: none;
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    padding: 0;
}
.navmenu-navlink-active {
    color: var(--bt-navlink-active-color);
}

.navmenu-account-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    /*width: 100%;*/
    gap: 15px;
    flex: 1;
    padding-left: 55px;
}
.navmenu-navlink-account {
    appearance: none;
    text-decoration: none;
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: var(--bt-txt-color);
}