@using Backtalk.Services
@inject NavigationManager nav
@inject INotificationService notificationService

<nav class="navmenu container-fluid theme-@(theme)">
    <div class="row">
        <div class="col-5 navmenu-navlinks-container">
            <a class="navmenu-navlink @homeNavlinkClass" href="" @onclick="() => HandleNavLinkClicked('h')">Home</a>
            <a class="navmenu-navlink @projectsNavlinkClass" href="projects" @onclick="() => HandleNavLinkClicked('p')">Projects</a>
            <a class="navmenu-navlink @aboutNavlinkClass" href="about" @onclick="() => HandleNavLinkClicked('a')">About</a>
        </div>
        <div class="col-2 navmenu-brand-container">
            <img src="@Assets["logo.png"]" alt="logo" class="navmenu-logo-image" @onclick="HandleLogoClicked" />
        </div>
        <div class="col-5 navmenu-account-options">
            <a class="navmenu-navlink-account" href="signup" @onclick="HandleAccountOptionsClicked" @onclick:preventDefault="true">Sign Up</a>
            <a class="navmenu-navlink-account" href="login" @onclick="HandleAccountOptionsClicked" @onclick:preventDefault="true">Log In</a>
        </div>
    </div>
    
</nav>

@code {
    [CascadingParameter]
    public string theme { get; set; } = "light";

    private string navlinkActiveClass = "navmenu-navlink-active";
    private string homeNavlinkClass = "navmenu-navlink-active";
    private string projectsNavlinkClass = "";
    private string aboutNavlinkClass = "";

    protected override async Task OnInitializedAsync()
    {
        if (nav.Uri == nav.BaseUri + string.Empty)
        {
            //home
            homeNavlinkClass = navlinkActiveClass;
            projectsNavlinkClass = "";
            aboutNavlinkClass = "";
        }
        else if (nav.Uri.Contains("project"))
        {
            //projects
            homeNavlinkClass = "";
            projectsNavlinkClass = navlinkActiveClass;
            aboutNavlinkClass = "";
        }
        else if (nav.Uri.Contains("about"))
        {
            //about
            homeNavlinkClass = "";
            projectsNavlinkClass = "";
            aboutNavlinkClass = navlinkActiveClass;
        } else
        {
            //none
            homeNavlinkClass = "";
            projectsNavlinkClass = "";
            aboutNavlinkClass = "";
        }
    }

    private async Task HandleLogoClicked()
    {
        nav.NavigateTo("");
        homeNavlinkClass = navlinkActiveClass;
        projectsNavlinkClass = "";
        aboutNavlinkClass = "";
        StateHasChanged();
        await Task.Yield();
    }

    private async Task HandleNavLinkClicked(char linkPrefix)
    {
        switch (linkPrefix)
        {
            case 'h':
                homeNavlinkClass = navlinkActiveClass;
                projectsNavlinkClass = "";
                aboutNavlinkClass = "";
                break;
            case 'p':
                homeNavlinkClass = "";
                projectsNavlinkClass = navlinkActiveClass;
                aboutNavlinkClass = "";
                break;
            case 'a':
                homeNavlinkClass = "";
                projectsNavlinkClass = "";
                aboutNavlinkClass = navlinkActiveClass;
                break;
            default:
                homeNavlinkClass = navlinkActiveClass;
                projectsNavlinkClass = "";
                aboutNavlinkClass = "";
                break;
        }
        StateHasChanged();
        await Task.Yield();
    }

    private async Task HandleAccountOptionsClicked()
    {
        await notificationService.CreatePopupNotificationAsync(new Classes.Notification()
        {
            type = Classes.NotificationType.POPUP_ERROR,
            symbol = Classes.NotificationSymbol.WARNING,
            message = "Account options have not been implemented yet.",
            expire_at_utc = DateTime.UtcNow.AddSeconds(3)
        });
    }
}
