<nav class="navmenu theme-@(theme)">
    
    <div class="navmenu-navlinks-container">
        <a class="navmenu-navlink @homeNavlinkClass" href="" @onclick="() => HandleNavLinkClicked('h')">Home</a>
        <a class="navmenu-navlink @projectsNavlinkClass" href="projects" @onclick="() => HandleNavLinkClicked('p')">Projects</a>
        <a class="navmenu-navlink @aboutNavlinkClass" href="about" @onclick="() => HandleNavLinkClicked('a')">About</a>
    </div>
    <div class="navmenu-brand-container">
        <img src="@Assets["logo.png"]" alt="logo" class="navmenu-logo-image" />
    </div>
    <div class="navmenu-account-options">
        <a class="navmenu-navlink-account" href="signup" style="color: dodgerblue;">Sign Up</a>
        <a class="navmenu-navlink-account" href="login" style="color: mediumseagreen;">Log In</a>
    </div>
</nav>

@code {
    [CascadingParameter]
    public string theme { get; set; } = "light";

    private string navlinkActiveClass = "navmenu-navlink-active";
    private string homeNavlinkClass = "navmenu-navlink-active";
    private string projectsNavlinkClass = "";
    private string aboutNavlinkClass = "";

    private async Task HandleNavLinkClicked(char linkPrefix)
    {
        switch (linkPrefix)
        {
            case 'h':
                homeNavlinkClass = navlinkActiveClass;
                projectsNavlinkClass = "";
                aboutNavlinkClass = "";
                break;
            case 'p':
                homeNavlinkClass = "";
                projectsNavlinkClass = navlinkActiveClass;
                aboutNavlinkClass = "";
                break;
            case 'a':
                homeNavlinkClass = "";
                projectsNavlinkClass = "";
                aboutNavlinkClass = navlinkActiveClass;
                break;
            default:
                homeNavlinkClass = navlinkActiveClass;
                projectsNavlinkClass = "";
                aboutNavlinkClass = "";
                break;
        }
        StateHasChanged();
        await Task.Yield();
    }
}
