.author-business-card {
    width: 300px;
    min-height: fit-content;
    height: 350px;
    background-color: rgb(210, 210, 210);
    position: relative;
    padding: 5px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.author-business-card::-webkit-scrollbar {
    appearance: none;
    width: 0.1px;
}

.abc-remove-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
}
.abc-remove-icon:hover {
    cursor: pointer;
}

.abc-pfp-container {
    min-width: 145px;
    width: 145px;
    min-height: 145px;
    height: 145px;
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    align-self: center;
}
.abc-pfp {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.abc-pfp:hover {
    cursor: pointer;
    filter: brightness(80%);
}
.abc-pfp-upload-button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    border: none;
}

.abc-info {
    width: 100%;
    height: min-content;
}

.abc-input {
    margin-top: 15px;
    field-sizing: content;
}

.span-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
}

.abc-name-input,
.abc-role-input {
    width: 120px;
    display: flex;
}

.abc-description-input {
    width: 100%;
    resize: vertical;
}


.abc-youtube-input,
.abc-github-input,
.abc-discord-input {
    margin-top: 2px;
    width: 100%;
}