<div class="endpoint-editor-tab @(active ? "tab-active" : "") @(editorFocused && active ? "tab-editor-focused" : "")" @onclick="HandleTabClickedAsync">
    <p class="tab-name">@tabName</p>
    <button type="button" class="tab-close-button" @onclick="HandleTabClosedAsync">X</button>
</div>

@code {
    [Parameter]
    public string tabName { get; set; } = "";

    [Parameter]
    public bool active { get; set; } = true;
    [Parameter]
    public bool editorFocused { get; set; } = false;

    [Parameter]
    public EventCallback<string> tabClickedOn { get; set; }
    [Parameter]
    public EventCallback<string> tabClosed { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        StateHasChanged();
        await Task.Yield();
    }

    private async Task HandleTabClickedAsync()
    {
        await tabClickedOn.InvokeAsync(tabName);
    }

    private async Task HandleTabClosedAsync()
    {
        await tabClosed.InvokeAsync(tabName);
    }
}
