@using Backtalk.Classes
<div class="endpoint-editor-tab @(tabData.active ? "tab-active" : "") @(editorFocused && tabData.active ? "tab-editor-focused" : "")" @onclick="HandleTabClickedAsync">
    <p class="tab-name">@tabData.tabName</p>
    <button type="button" class="tab-close-button" @onclick="HandleTabClosedAsync">X</button>
</div>

@code {
    [Parameter]
    public required EditorTab tabData { get; set; }

    [Parameter]
    public bool editorFocused { get; set; } = false;

    [Parameter]
    public EventCallback<EditorTab> tabClickedOn { get; set; }
    [Parameter]
    public EventCallback<EditorTab> tabClosed { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        StateHasChanged();
        await Task.Yield();
    }

    private async Task HandleTabClickedAsync()
    {
        await tabClickedOn.InvokeAsync(tabData);
    }

    private async Task HandleTabClosedAsync()
    {
        await tabClosed.InvokeAsync(tabData);
    }
}
