.popup-notifications-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    justify-self: center;
    top: 0;
    z-index: 999;
    margin-top: 2vh;
}