.project-item {
    width: 100%;
    background-color: lightgrey;
    min-height: 150px;
    height: fit-content;
    position: relative;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.project-item-full-button {
    border: none;
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.project-item-header-container {
    background-color: transparent;
    width: 100%;
    height: 30px;
    padding-left: 8px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
}
.project-item-status-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lime;
    z-index: 2;
}
.project-item-status-container {
    width: fit-content;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 3px;
    color: black;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-left: 8px;
    padding: 2px;
    padding-top: 0;
    padding-bottom: 0;
}
.project-item-manage-button {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: -14px;
    margin-left: auto;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    z-index: 2;
}
.manage-button-icon {
    width: 110%;
    height: 110%;
}
.project-item-kebab-menu-container {
    width: 100px;
    height: fit-content;
    color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 5px;
    margin-left: 96%;
    margin-top: 10px;
    z-index: 2;
}
.project-item-kebab-menu-container .kebab-menu-button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    color: black;
}
.project-item-kebab-menu-container button:hover {
    background-color: lightgrey;
}



.project-item-body {
    width: 100%;
    height: 100%;
    padding: 15px;
    padding-top: 0;
    padding-right: 10px;
}

.project-item-lu-container {
    position: absolute;
    left: 82%;
}

.project-item-name {
    margin: 0;
    padding: 0;
    font-size: 25px;
    
}

.project-item-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}
.project-item-info-container .p {
    margin: 0;
    padding: 0;
}

.project-item-epm-container {
    min-width: 100%;
    width: 800px;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-left: 0;
    z-index: 2;
}
.epm-item {
    height: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0cqw;
    transition: ease-in-out 0.2s, font-size ease-in-out 0.2s;
}
.project-item-epm-get {
    background-color: #61affe;
}
.project-item-epm-post {
    background-color: #49cc90;
}
.project-item-epm-put {
    background-color: #fca130;
}
.project-item-epm-patch {
    background-color: #9e34fa;
}
.project-item-epm-delete {
    background-color: #ff0000;
}