@using Backtalk.Classes
<div class="project-item">
    @if (!placeholder)
    {
        
    }
</div>


@code {
    [Parameter]
    public ProjectData? projectData { get; set; }

    [Parameter] //Will be like a blank placeholder for when the app is loading the users projects (like yt).
    public bool placeholder { get; set; } = true;
}
