.author-business-card {
    width: 300px;
    height: 350px;
    background-color: rgb(240, 240, 240);
    position: relative;
    padding: 5px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.abc-pfp-container {
    width: 145px;
    height: 145px;
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    align-self: center;
}
.abc-pfp {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.abc-pfp-upload-button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    border: none;
}

.abc-info {
    width: 100%;
    height: min-content;
}

.abc-input {
    margin-top: 15px;
}

.span-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
}

.abc-name-input,
.abc-role-input {
    width: 120px;
    display: flex;
}

.abc-description-input {
    width: 100%;
}

.abc-youtube-input,
.abc-github-input,
.abc-discord-input {
    margin-top: 2px;
    width: 100%;
}