@using Backtalk.Classes
@using KristofferStrube.Blazor.FileSystem
@using System.Text
@inject IFileSystemAccessService fileService
@page "/abc"

<div class="author-business-card">
    <div class="abc-pfp-container">
        <img src="@pfp_b64"
             class="abc-pfp"
             style="@pfp_display"
             alt="" @onclick="HandlePfpUploadClicked" />
        <button type="button" class="abc-pfp-upload-button" @onclick="HandlePfpUploadClicked" style="@pfp_upload_button_display">Upload PFP</button>
    </div>
    <div class="abc-info">
        <div class="span-div">
            <input @bind="name" @bind:after="HandleAuthorDetailsChanged" type="text" class="abc-name-input abc-input" placeholder="Enter Name.." />
            <input @bind="role" type="text" class="abc-role-input abc-input" placeholder="Enter Role.." />
        </div>
        
        <input @bind="description" @bind:after="HandleAuthorDetailsChanged" type="text" class="abc-description-input abc-input" placeholder="Enter Description.." />
        <input @bind="youtube" @bind:after="HandleAuthorDetailsChanged" type="text" class="abc-youtube-input abc-input" placeholder="Enter Youtube url.." />
        <input @bind="github" @bind:after="HandleAuthorDetailsChanged" type="text" class="abc-github-input abc-input" placeholder="Enter Github url.." />
        <input @bind="discord" @bind:after="HandleAuthorDetailsChanged" type="text" class="abc-discord-input abc-input" placeholder="Enter Discord url.." />
    </div>
    @if (showRemoveIcon)
    {
        <img class="abc-remove-icon" src="@Assets["icons/trashcan-black.png"]" alt="remove" @onclick="HandleAuthorRemoveButtonClicked" />
    }
</div>

@code {
    [Parameter]
    public int index { get; set; }
    [Parameter]
    public EventCallback<Author> authorDetailsChanged { get; set; }
    [Parameter]
    public EventCallback<Author> authorRemoveButtonClicked { get; set; }
    [Parameter]
    public Author? authorDetails { get; set; }
    [Parameter]
    public bool showRemoveIcon { get; set; } = false;

    private string b64_start = "data:image/jpeg;base64,";
    private string pfp_display = "display: none;";
    private string pfp_b64 = "";

    private string pfp_upload_button_display = "display: block;";

    private string name = "";
    private string role = "";
    private string description = "";
    private string youtube = "";
    private string github = "";
    private string discord = "";

    protected override async Task OnInitializedAsync()
    {
        if (authorDetails != null)
        {
            name = authorDetails.name;
            pfp_b64 = authorDetails.pfp_b64;
            role = authorDetails.role;
            description = authorDetails.description;
            youtube = authorDetails.youtube_url;
            github = authorDetails.github_url;
            discord = authorDetails.discord_url;
        }
    }

    private async Task HandleAuthorDetailsChanged()
    {
        await authorDetailsChanged.InvokeAsync(new Author()
        {
            index = index,
            key = authorDetails.key,
            name = name,
            pfp_b64 = pfp_b64,
            role = role,
            description = description,
            youtube_url = youtube,
            github_url = github,
            discord_url = discord
        });
    }

    private async Task HandleAuthorRemoveButtonClicked()
    {
        await authorRemoveButtonClicked.InvokeAsync(new Author()
        {
            index = index,
            key = authorDetails.key,
            name = name,
            pfp_b64 = pfp_b64,
            role = role,
            description = description,
            youtube_url = youtube,
            github_url = github,
            discord_url = discord
        });
    }

    private async Task HandlePfpUploadClicked()
    {
        FileSystemFileHandle? fileHandle = null;
        try
        {
            OpenFilePickerOptionsStartInWellKnownDirectory options = new()
            {
                Multiple = false,
                StartIn = WellKnownDirectory.Downloads
            };
            var fileHandles = await fileService.ShowOpenFilePickerAsync(options);
            fileHandle = fileHandles.Single();
        } catch (Exception ex)
        {
            Console.Error.WriteLine(ex);
        } finally
        {
            if (fileHandle != null)
            {
                var file = await fileHandle.GetFileAsync();
                byte[] textBytes = await file.ArrayBufferAsync();
                pfp_b64 = b64_start + Convert.ToBase64String(textBytes);
                pfp_upload_button_display = "display: none;";
                pfp_display = "display: block;";
                StateHasChanged();
                await Task.Yield();
                await file.DisposeAsync();
            }
        }
    }
}
