.main-content-container {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.main-content-header {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    width: 65%;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 30px;
    align-items: center;
}
.main-content-header-project-name {
    font-weight: bolder;
    font-size: 1cqw;
}
.main-content-header-project-info {
    font-size: 0.8cqw;
}

.main-content-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    gap: 80px;
}

.project-config-explorer {
    width: 250px;
    min-height: 600px;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
}


.endpoint-editor {
    width: 1000px;
    min-height: 600px;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
}


.project-endpoints-explorer {
    width: 250px;
    min-height: 600px;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
}