.main-content-container {
    position: absolute;
    left: 0;
    top: 10px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    width: 100%;
    height: fit-content;
}

.main-content-header {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 15px;
    background-color: whitesmoke;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-left: 0;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 3;
}
.main-content-header-project-info {
    font-size: 0.8cqw;
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-right: 10px;
    font-weight: bold;
}
.project-option-button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    height: 100%;
    margin-left: 10px;
}
.project-option-button:hover {
    background-color: var(--bt-primary-color);
    border-radius: 3px;
    color: white;
}
.main-content-header-name {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}



.main-content-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    gap: 25px;
    margin-top: 5vh;
}

.project-properties-explorer {
    resize: both;
    width: 250px;
    height: 650px;
    top: 10vh;
    left: 1.5vw;
    overflow: hidden;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.endpoint-editor {
    width: 1020px;
    height: 650px;
    top: 10vh;
    overflow: hidden;
    resize: both;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#endpoint-editor-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: rgb(235, 235, 235);
    width: 100%;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 50px;
    height: 33px;
    padding-left: 10px;
}
#endpoint-editor-header-tabs-container {
    max-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 2px;
}
#endpoint-editor-header-text {
    position: relative;
    margin-top: 7px;
    margin-left: -8px;
    border-right-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}
#endpoint-editor-close-button {
    margin-top: 5px;
}


.project-endpoints-explorer {
    width: 250px;
    height: 650px;
    top: 10vh;
    right: 1.5vw;
    overflow: hidden;
    resize: both;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}


.explorer-header-container {
    width: 100%;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}
.header-text {
    margin: 0;
    padding: 0;
    width: 115px;
    text-align: center;
}
.close-window-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25px;
    height: fit-content;
    border: none;
    font-size: 16px;
    color: black;
    background-color: transparent;
    left: 0;
    right: 0;
    position: absolute;
    margin-left: auto;
    margin-top: 2px;
    margin-right: 5px;
}

.active {
    border-color: var(--bt-accent-color);
    box-shadow: 0px 10px 15px 5px rgba(27, 178, 37, 0.2);
}


.explorer-container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 5px;
    gap: 8px;
}
.explorer-container-header {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: left;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: lightgrey;
}