.main-content-container {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    width: 100%;
    height: fit-content;
    z-index: -1;
    background-color: blue;
}

.main-content-header {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 15px;
    background-color: whitesmoke;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-left: 0;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.main-content-header-project-info {
    font-size: 0.8cqw;
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-right: 10px;
    font-weight: bold;
}
.project-option-button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    height: 100%;
    margin-left: 10px;
}
.project-option-button:hover {
    background-color: var(--bt-primary-color);
    border-radius: 3px;
    color: white;
}
.main-content-header-name {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}



.main-content-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 75px;
    gap: 80px;
}

.project-config-explorer {
    width: 15%;
    height: 550px;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
}


.endpoint-editor {
    width: 55%;
    min-height: 550px;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
}


.project-endpoints-explorer {
    width: 15%;
    height: 550px;
    background-color: whitesmoke;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
}