@using Backtalk.Components
@using Blazored.LocalStorage
@using System.Text.Json
@using Backtalk.Classes
@inject ILocalStorageService ls
@page "/projects"
<PageTitle>Projects | BackTalk</PageTitle>

<div class="main-content-container">
    <div class="main-content-header">
        <div class="main-content-header-info-container">
            <p class="main-content-header-info-text">Your Projects</p>
            <button type="button" class="create-project-button" title="Create a new project!">+</button>
        </div>
        <div class="horizontal-divider-mw mt-2"></div>
    </div>
    <div class="main-content-body">
        @if (loadingProjects)
        {
            <ProjectItem placeholder="@(true)"></ProjectItem>
            <ProjectItem placeholder="@(true)"></ProjectItem>
            <ProjectItem placeholder="@(true)"></ProjectItem>
            <ProjectItem placeholder="@(true)"></ProjectItem>
        }
        @if (!hasProjects)
        {
            
        }
        @if (hasProjects && !loadingProjects)
        {
            foreach (var project in projects)
            {
                
            }
        }
    </div>
</div>

@code {

    private bool loadingProjects = true;
    private bool hasProjects = true;

    private List<ProjectData> projects = new List<ProjectData>();

    protected override async Task OnInitializedAsync()
    {
        //When the page is first initialized, check the localstorage for any existing projects.
        projects = await ls.GetItemAsync<List<ProjectData>>("user_projects");
        if (projects == null || projects.Count <= 0) 
        {
            await ls.SetItemAsync<List<ProjectData>>("user_projects", new List<ProjectData>());
            hasProjects = false;
        }
        loadingProjects = false;
        StateHasChanged();
        await Task.Yield();
    }
}